%h4 Please enter the URL you wish to bookmark
- form_for @bookmark, :class => "inline" do |f|
	= f.text_field :url, :class => "title"
	= f.submit "Bookmark", :disable_with => 'Bookmarking...', :class => "button"
