.sites
	- @sites.each do |site|
		.site
			.count
				= site.bookmarks.count
			.link
				= link_to site.url, site_bookmarks_path(site)
.add
	= link_to 'Bookmark somthing!', new_bookmark_path, :class => "button matte-blue"